

h1 {
    background-color: red;
}

h1:hover {
    background-color: black;
}

.move {
    position: absolute;
    background-color: aqua;
    animation: 4s linear 0s infinite alternate move-btn-vertical;

}

.move2 {
    animation: 11s linear 0s infinite alternate move-btn-horizontal;
}




.move:hover {


}

@keyframes move-btn-horizontal {
    from {
        transform: translateX(50vw);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes move-btn-vertical {
    from {
        transform: translateY(50vh);
    }
    to {
        transform: translateY(0);
    }
}


